.elements {
  max-width: 880px;
  width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto;
  padding-top: 50px;
  gap: 17px 20px;
}

.element {
  max-width: 282px;
  width: 100%;
  max-height: 361px;
  height: 100%;
  border-radius: 10px;
  background-color: #ffffff;
}

.element-rectangle {
  max-width: 282px;
  width: 100%;
  max-height: 361px;
  border-radius: 10px;
}

.element-image {
  max-width: 282px;
  width: 100%;
  max-height: 282px;
  height: 100%;
  object-fit: cover;
}

.element__group {
  width: 246px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
}

.element__title {
  font-family: "InterBlack";
  font-style: normal;
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
  color: #000;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.element__like-button {
  width: 21px;
  height: 19px;
  background: none;
  border: none;
  display: flex;
  justify-content: center;
}

.element__like-button-image {
  max-width: 21px;
}

@media screen and (max-width: 320px) {
  .elements {
    max-width: 282px;
    display: flex;
    flex-direction: column;
    padding-top: 0;
    margin-top: 36px;
    gap: 20px;
  }
}
